/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:ital,wght@0,800;1,800&display=swap');

/* common style */
body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.container{
    background:#FFFFFF;
    width: 870px;
    height: 700px;
    padding: 30px;


}
hr{

    background: #D1D1D1;
    margin-bottom: 30px;
}


/* top player styles */

.top-players{

   margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3px;

}

.players{
display: grid;

grid-template-columns:repeat(3,1fr) ;
grid-row-gap:30px;

/* grid-template-columns:repeat(1fe, 1fe ,1fr) ; */

}
.player{
   display: flex;
   align-items: center;
 
}

.players img{

    width: 56px;
    height: 56px;


}
.player-name{
   margin-left: 16px;
   font-size: 18px;




}
/* /* ///////////////////////////////////////
top blogs  styles* *
/* / */
.blogs{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}

.blog{

    display: flex;
}
.thumbnail img{

    width: 224px;
    height: 127px;
}

.blog-info{

  margin-left: 15px;
}
.blog-title{
    font-size: 20px;
    color: #000;
}
.blog-author{

     color: #9F9F9F;
     font-size: 16px;
}
.blog-author a{

    text-decoration: none;
}
/* /////////////////////////////////////////////////////// */
  
                 /* Latest- course */ 

/* /////////////////////////////////////////////////////// */

.box-shadow{
  
   width: 200px;
   height: 300px;
   border-radius: 10px;
   border: 0;
   margin-top: 100px;
   margin-bottom: 20px;
   padding: 30px;
   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   background-color: #DCD9D4;
   background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
   background-blend-mode: soft-light,screen;;
 
  
 
   
  


}
.courses{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap:24px;
   width: 400px;
   height: 300px;
  
 
  

}

.course .course-banner img{

    width:100%;
   margin-right: 50px;
   
}
.course-info{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.bxs-star.filled{
   color:#FFC014 ; 
}

.bxs-star.empty{
 color: #AEAEAE;
}
